body{
    background: rgb(163, 157, 157);
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.taiji{
    border-radius: 50%;
    width: 320px;
    height: 320px;
    background: linear-gradient(to bottom, #fff 0%,#fff 50%,#000 50%,#000 100%);
    position: relative;
    margin: 100px auto;
    animation-duration: 3s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.taiji::before{
    content: '';
    background: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    border: 70px solid #000;
}
.taiji::after{
    content: '';
    background: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    border: 70px solid #fff;
}
p{
    color: #fff;
    text-align: center;
}